    body {
        background-color: #DFD7BF;
    }
    
    header {
        color: aqua;
        text-decoration: none;
        color: #359381;
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 10px;
        font-weight: 600;
    }